{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block body %}

{% if books|length == 0 %}
    <h1>Sorry we didn't find any books that you borrowed</h1>
{% else %}
    <h1 class="headingone">We found these books that you borrowed:</h1>
    <form action="/borrowed" method="post">
        <div class="input-group mb-3" style="max-width: 90%; margin-left: 5%;">
            <input autofocus type="search" id="borrower" name="borrower" class="form-control" placeholder="Enter the name of who you borrowed the book to">
            <button class="btn btn-lg btn-outline-success">
                Search
            </button>
        </div>
    </form>
{% endif %}


<div class="row">

    {% for book in books %}

    <form action="/view" method="post" style="display:block; width: 20%; min-width: 250px; height: 320; margin-bottom: 20px;">
        <input type="hidden" name="bookid" id="bookid" value="{{ book[14] }}">
        <button class="btn">
            <img style="height: 300px; width: auto; align-self: center;" src="{{ book[8] }}" class="card-img-top" alt="...">
        </button>
        <p>{{ book[1]|truncate(28,true) }}</p>
    </form>

    {% endfor %}

</div>

{% endblock %}