{% extends "layout.html" %}

{% block title %}
    Edit Book
{% endblock %}

{% block body %}

    <form action="/save" method="post">
        <input required type="text" id="title" name="title" class="form-control" placeholder="Title" autocomplete="off" value="{{ book_info['title'] }}">
        <input required type="text" id="author" name="author" class="form-control" placeholder="Author" autocomplete="off" value="{{ book_info['author'] }}">
        <input required type="text" id="publisher" name="publisher" class="form-control" placeholder="Publisher" autocomplete="off" value="{{ book_info['publisher'] }}">
        <input required type="text" id="pages" name="pages" class="form-control" placeholder="Pages" autocomplete="off" value="{{ book_info['pages'] }}">
        <input required type="text" id="date_published" name="date_published" class="form-control" placeholder="Date Published" autocomplete="off" value="{{ book_info['date_published'] }}">
        <input required type="text" id="language" name="language" class="form-control" placeholder="Language" autocomplete="off" value="{{ book_info['language'] }}">
        <input required type="text" id="synopsis" name="synopsis" class="form-control" placeholder="Synopsis" autocomplete="off" value="{{ book_info['synopsis'] }}">
        <input required type="text" id="cover_art" name="cover_art" class="form-control" placeholder="Cover Art Url" autocomplete="off" value="{{ book_info['cover_art'] }}">
        <input required type="text" id="isbn" name="isbn" class="form-control" placeholder="ISBN Number" autocomplete="off" value="{{ book_info['isbn'] }}">
        <button class="btn">
            Save Changes
        </button>
    </form>

{% endblock %}