{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}


{% if book_info1|length == 0 %}
    <h1 class="headingone">Please add more unread books which we can recommend</h1>
{% else %}

    <h1>Here are some unread books from your personal library!</h1>
    <h5>Perhaps give them a try?</h4>

    <div class="row">

        {% for book in book_info1 %}
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card" style="height: 500px">
                <img style="height: 300px; width: auto; align-self: center;" src="{{ book.cover_art }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">{{ book.title }}</h5>
                    <p class="card-text">Release year: <b>{{ book.date_published }}</b></p>
                    <p class="card-text">{{ book.synopsis }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endif %}

<br>

{% if book_info2|length == 0 %}
    <h1 class="headingone">Please add more books which you enjoyed reading</h1>
{% else %}

    <h1>Here are some books you read in the past and enjoyed!</h1>
    <h5>Perhaps give them a reread?</h4>

    <div class="row">

        {% for book in book_info2 %}
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card" style="height: 500px">
                <img style="height: 300px; width: auto; align-self: center;" src="{{ book.cover_art }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">{{ book.title }}</h5>
                    <p class="card-text">Release year: <b>{{ book.date_published }}</b></p>
                    <p class="card-text">{{ book.synopsis }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endif %}

{% endblock %}